@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

.glasslook {
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.App {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "left right";
  grid-template-rows: 3fr 1fr;
  max-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.App {
  background: url("./wallhaven-rd7drw.jpg") no-repeat center;
  background-size: cover;
  color: white;
}

.app-leftside {
  grid-area: left;
}
.app-rightside {
  grid-area: right;
}

.app-rightside {
  display: grid;
  grid-template-areas:
    "search"
    "searchresults"
    "subweather"
    "footer";
  max-height: 100vh;
  grid-template-rows: auto 1fr auto 0.2fr;
  overflow: hidden;
}

.app-search {
  grid-area: search;
}
.app-searchresults {
  grid-area: searchresults;
  overflow-y: scroll;
}
.app-subweather {
  grid-area: subweather;
}
.app-footer {
  grid-area: footer;
}
.app-leftside {
  display: grid;
  grid-template-areas:
    "picture"
    "mainweather"
    ".";
  grid-template-rows: 3fr 0.5fr 0.5fr;
}
.app-picture {
  grid-area: picture;
}
.app-mainweather {
  grid-area: mainweather;
}
* {
  box-sizing: border-box;
}
